# [作業目標]

1. 根據題目給的 DataFrame 完成下列操作：

```
- 計算每個不同種類 animal 的 age 的平均數
- 計算每個不同種類 animal 的 age 的平均數
- 將資料依照 Age 欄位由小到大排序，再依照 visits 欄位由大到小排序
- 將 priority 欄位中的 yes 和 no 字串，換成是布林值 的 True 和 False
```


2. 一個包含兩個欄位的 DataFrame，將每個數字減去

```
* 1) 該欄位的平均數
* 2) 該筆資料平均數
```

3. 承上題，請問：

```
* 1) 哪一比的資料總合最小
* 2) 哪一欄位的資料總合最小
```

# 作業

### 1. 根據題目給的 DataFrame 完成下列操作：

```
- 計算每個不同種類 animal 的 age 的平均數
- 計算每個不同種類 animal 的 age 的平均數
- 將資料依照 Age 欄位由小到大排序，再依照 visits 欄位由大到小排序
- 將 priority 欄位中的 yes 和 no 字串，換成是布林值 的 True 和 False
```

In [3]:
# 記得先 Import 正確的套件
import pandas as pd
import numpy as np

In [4]:
data = {
    'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
    'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
    'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']
}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(data, index=labels)
df

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  2.0       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

In [5]:
print(df.groupby('animal')['age'].mean())

animal
cat      2.5
dog      5.0
snake    2.5
Name: age, dtype: float64

In [6]:
print(df.sort_values(by=['age', 'visits'], ascending=[True, False]))

  animal  age  visits priority
c  snake  0.5       2       no
f    cat  2.0       3       no
a    cat  2.5       1      yes
b    cat  3.0       3      yes
j    dog  3.0       1       no
g  snake  4.5       1       no
e    dog  5.0       2       no
i    dog  7.0       2       no
d    dog  NaN       3      yes
h    cat  NaN       1      yes

In [7]:
print(df.replace('yes', True).replace('no', False))

  animal  age  visits  priority
a    cat  2.5       1      True
b    cat  3.0       3      True
c  snake  0.5       2     False
d    dog  NaN       3      True
e    dog  5.0       2     False
f    cat  2.0       3     False
g  snake  4.5       1     False
h    cat  NaN       1      True
i    dog  7.0       2     False
j    dog  3.0       1     False

### 2. 一個包含兩個欄位的 DataFrame，將每個數字減去

* 1) 該欄位的平均數
* 2) 該筆資料平均數

In [8]:
df = pd.DataFrame(np.random.random(size=(5, 3)))
df

          0         1         2
0  0.765530  0.021825  0.244502
1  0.994087  0.062938  0.264633
2  0.039013  0.504289  0.701574
3  0.048753  0.239054  0.329375
4  0.761162  0.001188  0.315539

In [10]:
print(df - df.mean())

          0         1         2
0  0.243821 -0.144033 -0.126622
1  0.472378 -0.102921 -0.106492
2 -0.482696  0.338430  0.330449
3 -0.472956  0.073195 -0.041750
4  0.239453 -0.164671 -0.055586

In [12]:
df.sub(df.mean(axis=1), axis=0)

          0         1         2
0  0.421578 -0.322127 -0.099450
1  0.553535 -0.377615 -0.175920
2 -0.375945  0.089330  0.286615
3 -0.156974  0.033327  0.123647
4  0.401866 -0.358108 -0.043757

### 3. 承上題，請問：

1) 哪一比的資料總合最小
2) 哪一欄位的資料總合最小

In [13]:
df

          0         1         2
0  0.765530  0.021825  0.244502
1  0.994087  0.062938  0.264633
2  0.039013  0.504289  0.701574
3  0.048753  0.239054  0.329375
4  0.761162  0.001188  0.315539

In [16]:
print(df.sum(axis=1).argmin())
print(df.sum(axis=1).min())

3
0.6171824509661653

In [17]:
print(df.sum(axis=0).argmin())
print(df.sum(axis=0).min())

1
0.8292943520543836